back/venv
back/web/blog/__pycache__
back/web/blog/migrations
back/web/blog/api/__pycache__

back/web/db.sqlite3
back/web/web/__pycache__

.env

# front
front/blog/node_module
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/blog/node_modules
front/blog/.pnp
front/blog/.pnp.js

# testing
front/blog/coverage

# production
front/blog/build

# misc
front/blog/.DS_Store
front/blog/.env.local
front/blog/.env.development.local
front/blog/.env.test.local
front/blog/.env.production.local

front/blog/npm-debug.log*
front/blog/yarn-debug.log*
front/blog/yarn-error.log*